body {
  box-sizing: border-box;
  background-color: #48a30012;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #48a300;
  font-weight: 700;
}

h1 span {
  color: #61481c;
}

.container {
  background-color: #FBFBFB;
  min-width: 560px;
  max-height: 810px;
  gap: 0px;
  border-radius: 15px;
  padding: 20px;
}
h2 {
  display: inline;
}

img {
  width: 22px;
  margin-left: 5px;
}
h2 img {
  align-self: center;
}

p{
  font-weight: 200;
  font-size: 12px;
  
}
.taskbox{
  width: 90%;
  /* height:82px; */
  border-radius: 17px;
  margin-block: 46px;
  padding: 20px;
  background-color:#FFFFFF ;

}
.round-checkbox{
  width:20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid rgb(209, 200, 200);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.round-checkbox:checked {
  /* appearance: auto; */
  
  clip-path: circle(50% at 50% 50%);
  background-color: #48A300;
}

.transparent-input{
  margin-left: 10px;
  border: 0px;
  width: 70%;
  appearance: none;
}

.quote{
  font-weight: 500;
margin-left: 34%;;
/* margin-right: 50%;; */

}

.credits{
  font-size: 10px;
  margin-left: 36%;;
}

.progress{
  width: 700px;
  height: 40px;
}